

.hidden{
    display: none;
}

.container{
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    position: fixed;
    left: 0;
    top: 10vh;
    height: 90vh;
    width: 100vw;
    display: flex;
}

.column{
    height: 95%;
    overflow-y: scroll;
    border-right: 1px solid white;
    padding: 1rem 2vw;
    width: 33%;
}


.filter {
    cursor: pointer;
    width: 100%;
    &:hover{
        border: 1px solid yellow;
        padding-left: 3px;
        font-size: 1.6rem;
    }
}

.activeFilter{
    composes: filter;
    background-color: yellow;
    color: black;
}


.input{
    padding: 0.5rem;
    font-size: 1.2rem;
    border: 1px solid white;
    font-family: "Simplon BP Mono", monospace;
    outline: none;
    background-color: transparent;
    color: white;
    margin-bottom: 2rem;

    &:focus{
        border-color: aqua;
    }

}

.tagRemover{
    margin-right: 0.5rem;
    &:hover{
        color: red;
        cursor: pointer;
    }
    font-size: 0.5rem;
}

.tag{
    display: flex;
    align-items: center;
}