


.unit {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: white;
}

.unitSelector{
    cursor: move;
    background-color: mediumspringgreen;
    width: 20px;
    margin-right: 50px;
}


.unitSelectorActive{
    composes: unitSelector;
    background-color: orangered;
}


.sentence{
    width: 50%;
    height: 20vh;
    margin-right: 50px;
    font-size: 1.5rem;
    font-family: "Space Mono";
    border: none;
    resize: none;
    box-sizing: border-box;
    outline: none;

    &:focus{
        border: 1px solid mediumspringgreen;
    }

}



.selected {
    composes: unit;
    background-color: rgba(0, 255, 125, 0.2);
    *{
        background-color: transparent;
    }

}

.selects{
    width: 50%;
}