
.header{
    width: 100%;
    margin: auto;
    border-bottom: 3px solid black;
    height: 10vh;
    padding-right: 5vh;
    padding-left: 5vh;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 9999;
}

.item {
    font-size: 1.4rem;
    margin-right: 1vw;
}

.item:hover{
    color: black;
    background-color: mediumspringgreen;
    cursor: pointer;
}