.groupTagger{
    min-height: 200px;
    width: 100%;
    border-top: 1px solid white;
    padding-bottom: 50px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    background-color: rgb(230, 230, 230);
}

.group{
    display: flex;
    width: 90%;
}


.units{
    width: 100%;
}

.mergeUnits{
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    border: 1px solid orange;
    padding: 5px;
    width: 10%;
}

.mergeUnits:hover{
    background-color: orange;
    color: white;
    cursor: pointer;
}