@import './fonts/spacemono.scss';


html{
    font-family: "Space Mono", monospace;
    font-weight: bold;
    background-color: rgb(230, 230, 230);
}

body, div, html{
    margin: 0;
    padding: 0;
}

.word:hover{
    cursor: pointer;
    background-color: greenyellow;
}