



.overlay{

    background-color: rgba(1, 1, 255, 0.8);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
}


.content{
    border: 10px solid red;
    background-color: white;
    width: 90%;
    padding: 1rem 3rem 3rem;
    box-sizing: border-box;
    z-index: 99999999999999;

    h1{
        margin: 0;
        margin-bottom: 2rem;
    }

}

.close {
    background-color: yellow;
    display: flex;
    width: 5rem;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;

    &:hover{
        border: 1px solid black;
        cursor: pointer;
    }

}